/* App.css */

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

h1 {
  font-size: 3rem; /* Increased font size for the main title */
}

h2 {
  font-size: 2rem;
  margin-top: 20px;
  font-style: italic; /* Make category titles italic */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 1.25rem;
  margin: 10px 0;
}

.category {
  margin-bottom: 40px; /* Add space between categories */
}